<!-- header -->
<%- include('partials/header'); %>

<h1>About it</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, consequatur? Aliquam totam quo distinctio, numquam soluta nam praesentium? Unde architecto, vero cupiditate ipsa aperiam provident nemo, quis accusantium autem quas eveniet aliquid exercitationem necessitatibus obcaecati reiciendis eius consequuntur odit alias earum, quam tempore ratione laudantium voluptas. Nulla obcaecati eum ducimus alias aliquid minus quod nobis sit pariatur eius sequi non veniam quaerat eligendi ex maxime distinctio fugiat at atque, dignissimos velit aperiam? Blanditiis sit ducimus repellat? Repellendus, quos asperiores. Error, omnis nobis iste hic quisquam saepe tempora dicta ex provident quasi tempore necessitatibus facilis totam commodi est reiciendis blanditiis earum.</p>

<!-- footer  -->
<%- include('partials/footer'); %>