<!-- header -->
<%- include('partials/header'); %>

<h1>Post</h1>

<!-- usando axios -->
<% for (let i= 0 ; i < posts.length; i++) { %>
    <article>
        <h2><%= posts[i].title %></h2>
        <p><%= posts[i].body %></p>
    </article>
<% } %>

<!-- footer  -->
<%- include('partials/footer'); %>